@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap);
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #3b3b3b; }

/* Font Icons */
/* Code copied from iconmoon */
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icons/icomoon.eot?rel7yd");
  src: url("/assets/fonts/icons/icomoon.eot?rel7yd#iefix") format("embedded-opentype"), url("/assets/fonts/icons/icomoon.ttf?rel7yd") format("truetype"), url("/assets/fonts/icons/icomoon.woff?rel7yd") format("woff"), url("/assets/fonts/icons/icomoon.svg?rel7yd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pointer-up:before {
  content: "\e909"; }

.icon-non-toxic:before {
  content: "\e908"; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-high-sun:before {
  content: "\e901"; }

.icon-low-sun:before {
  content: "\e902"; }

.icon-no-sun:before {
  content: "\e903"; }

.icon-onde-drop:before {
  content: "\e904"; }

.icon-three-drops:before {
  content: "\e905"; }

.icon-toxic:before {
  content: "\e906"; }

.icon-two-drops:before {
  content: "\e907"; }

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #root .top-content,
  #root .bottom-content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 70px; }
    #root .top-content .container,
    #root .bottom-content .container {
      width: 900px;
      padding: 0 20px; }
  #root .bottom-content {
    background-color: #F2F2F2; }

.hide {
  display: none !important; }

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* smartphones, Android phones, landscape iPhone */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
/* tablet, landscape iPad, lo-res laptops ands desktops */
/* big landscape tablets, laptops, and desktops */
/* hi-res laptops and desktops */
/* Header */
header {
  padding-top: 57px; }
  header > .logo {
    width: 208px;
    height: 25px;
    background: url("/assets/images/green-logo.png") no-repeat 0;
    text-indent: -9999px;
    font-size: 0;
    overflow: hidden; }
  header > .title-page {
    font-size: 55px;
    color: #0b2a1e;
    font-weight: 800;
    line-height: 60px;
    margin: 40px 0 66px;
    max-width: 538px; }

/* Form Question */
.form-question > ul.form-list {
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0; }
  .form-question > ul.form-list li {
    padding: 25px 0;
    width: 100%; }
    .form-question > ul.form-list li h3 {
      font-size: 14px;
      font-weight: normal;
      color: #848484;
      margin: 15px 0 25px; }
    .form-question > ul.form-list li:last-child img {
      padding: 6px 0 7px; }

@media (min-width: 726px) {
  .form-question > ul.form-list {
    padding: 0;
    justify-content: space-between; }
    .form-question > ul.form-list li {
      width: 219px; } }

/* Form Result */
.form-result {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
  .form-result .data-empty {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 22px;
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
    .form-result .data-empty .box-data-empty {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center; }
      .form-result .data-empty .box-data-empty.img-box {
        justify-content: center; }
      .form-result .data-empty .box-data-empty img {
        max-width: 100%; }
    @media (min-width: 600px) {
      .form-result .data-empty .box-data-empty {
        width: 50%; } }
  .form-result .pick-image {
    margin-top: 47px; }
  .form-result h3 {
    font-size: 45px;
    color: #a9a9a9;
    margin: 25px 0 15px;
    width: 100%; }
    .form-result h3.title-result {
      color: #0c261c; }
  .form-result p {
    width: 100%;
    color: #a9a9a9;
    font-size: 16px;
    line-height: 27px;
    max-width: 219px;
    margin-top: 0px; }
  .form-result .list-results {
    height: 354px;
    overflow: hidden;
    position: relative;
    padding-top: 31px; }
    .form-result .list-results .result-cards {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0 10px;
      margin: 0 -24px;
      left: 0px; }
  @media (min-width: 600px) {
    .form-result .list-results {
      overflow: unset;
      height: auto; }
      .form-result .list-results .result-cards {
        width: auto !important;
        position: relative; } }

/* Custom Select */
.box-select {
  width: 100%;
  position: relative; }
  .box-select .custom-select {
    width: 100%;
    color: #a8a8a8;
    outline: none;
    font-size: 14px;
    border: 1px solid #a8a8a8;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 11px 18px; }
  .box-select .icon-arrow-down {
    position: absolute;
    font-size: 10px;
    color: #a8a8a8;
    right: 15px;
    top: 15px; }

/* Button */
.btn {
  width: 100%;
  color: #196146;
  border: 1px solid #15573f;
  border-radius: 40px;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 40px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  background: linear-gradient(transparent 50%, #196146 50%);
  background-size: 100% 200%;
  background-position: left top;
  border: solid 1px #196146; }
  .btn:hover {
    background-position: left bottom;
    color: #fff; }
  .btn [class^="icon-"],
  .btn [class*=" icon-"] {
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-right: 9px; }

/* Plant Card */
.box-card {
  width: 293px;
  height: 333px;
  padding: 16px 16px; }
  .box-card .card {
    position: relative;
    animation: card-entry 1s cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    transition: all 0.2s linear; }
    .box-card .card:hover {
      box-shadow: 4px 7px 14px 1px #d2d2d2;
      transform: scale(1.04, 1.04); }
    .box-card .card .box-img {
      display: flex;
      justify-content: center; }
      .box-card .card .box-img img {
        max-width: 100%;
        max-height: 170px; }
    .box-card .card .box-info {
      display: flex;
      flex-wrap: wrap; }
      .box-card .card .box-info h4,
      .box-card .card .box-info p {
        font-weight: bold;
        font-size: 18px;
        color: #1e6b4e;
        margin: 0; }
      .box-card .card .box-info h4 {
        margin-bottom: 0;
        width: 100%;
        height: 44px; }
      .box-card .card .box-info p {
        width: 55%; }
      .box-card .card .box-info .icons {
        width: 45%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .box-card .card .box-info .icons i {
          font-size: 20px; }

/* big landscape tablets, laptops, and desktops */
@media (min-width: 900px) {
  .box-card {
    width: 33.3%; } }

.data-order-0 {
  animation-delay: 0.4s !important; }

.data-order-1 {
  animation-delay: 0.46s !important; }

.data-order-2 {
  animation-delay: 0.52s !important; }

.data-order-3 {
  animation-delay: 0.58s !important; }

.data-order-4 {
  animation-delay: 0.64s !important; }

.data-order-5 {
  animation-delay: 0.7s !important; }

.data-order-6 {
  animation-delay: 0.76s !important; }

.data-order-7 {
  animation-delay: 0.82s !important; }

.data-order-8 {
  animation-delay: 0.88s !important; }

@keyframes card-entry {
  from {
    opacity: 0.5;
    left: 500px; }
  to {
    opacity: 1;
    left: 0px; } }

/* Loading */
.loading-spinner {
  width: 100%;
  height: 300px;
  display: flex;
  overflow: hidden;
  background: transparent;
  justify-content: center;
  align-items: center; }
  .loading-spinner .spinner {
    width: 100px;
    height: 100px;
    position: relative; }
    .loading-spinner .spinner div {
      position: absolute;
      width: 50px;
      height: 50px;
      border: 10px solid #15573f;
      border-top-color: transparent;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      top: 50px;
      left: 50px;
      box-sizing: content-box; }

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

