@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap);
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #3b3b3b; }

h1,
h2,
h3,
h4,
h5 {
  margin: 6px;
  padding: 0; }

#root {
  display: flex;
  justify-content: center; }

.content {
  width: 860px; }

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* smartphones, Android phones, landscape iPhone */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
/* tablet, landscape iPad, lo-res laptops ands desktops */
/* big landscape tablets, laptops, and desktops */
/* hi-res laptops and desktops */




